<!DOCTYPE html>
<html>
<head>
    <title>Password Required</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2 class="main-title">Password Required</h2>
        {% if error %}
            <div class="error">Incorrect password, try again.</div>
        {% endif %}
        <form method="post" class="paste-form">
            <input type="password" name="password" placeholder="Password" required>
            <button class="create-btn" type="submit">View Paste</button>
        </form>
    </div>
</body>
</html>
